@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
  font-size: 62.5%; //this makes each rem unit approximately 10px
}

body {
  font-size: inherit;
  @include font-size(1.4);
}